.stateScroll{
    background-color: #273244;
    transition: all 0.5s ease;
    box-shadow: rgba(17, 17, 26, 1.1) 0 0px 13px;
    padding-top: 20px !important;
}
.navbar{
    padding-top: 20px;
    transition: all 0.5s ease;
}
@media (min-width: 768px) {
    .navbar{
        padding-top: 50px;
    }
}
.navbar-brand{
    font-size: 1rem;
}
.navbar-nav .nav-link.active, 
.navbar-nav .nav-link.show{
    color: #FFFFFF;
    font-weight: bold;
    opacity: 1;
}
.nav-link{
    color:#FFFFFF;
    font-family: 'CircularStd-Book';
    font-size: 1rem;
    opacity: 0.5;
    margin-left: 0;
}
@media (min-width: 768px) {
    .nav-link{
        margin-left: 20px;
    }
}
.navbar-brand.logo{
    font-family: 'CircularStd-Book';
    color: #FFFFFF;
    margin: 0;
}
.navbar-toggler{
    border: none;
    box-shadow: none;
}