<section id="case-studies" class="case-studies">
  <div class="container">
    <h5 class="case-studies-title" data-aos="fade-up" data-aos-offset="200">Clients we worked with</h5>
    <div data-aos="fade-up" data-aos-offset="200">
      <swiper-container
        loop="true"
        slides-per-view="5"
        speed="1000"
        autoplay="true"
        pagination="true"
        pagination-clickable="true"
      >
        <swiper-slide lazy="true">
          <div class="swiper-slide-item">
            <img
              class="swiper-slide-img"
              src="../../../assets/images/case-studies/tnw.png"
              alt="tnw"
              loading="lazy"
            />
          </div>
        </swiper-slide>
        <swiper-slide lazy="true">
          <div class="swiper-slide-item">
            <img
              class="swiper-slide-img"
              src="../../../assets/images/case-studies/google.png"
              alt="google"
              loading="lazy"
            />
          </div>
        </swiper-slide>
        <swiper-slide lazy="true">
          <div class="swiper-slide-item">
            <img
              class="swiper-slide-img"
              src="../../../assets/images/case-studies/nike.png"
              alt="nike"
              loading="lazy"
            />
          </div>
        </swiper-slide>
        <swiper-slide lazy="true">
          <div class="swiper-slide-item">
            <img
              class="swiper-slide-img"
              src="../../../assets/images/case-studies/airbnb.png"
              alt="airbnb"
              loading="lazy"
            />
          </div>
        </swiper-slide>

        <swiper-slide lazy="true">
          <div class="swiper-slide-item">
            <img
              class="swiper-slide-img"
              src="../../../assets/images/case-studies/it-news-africa.png"
              alt="it-news-africa"
              loading="lazy"
            />
          </div>
        </swiper-slide>
        <swiper-slide lazy="true">
          <div class="swiper-slide-item">
            <img
              class="swiper-slide-img"
              src="../../../assets/images/case-studies/airbnb.png"
              alt="airbnb"
              loading="lazy"
            />
          </div>
        </swiper-slide>
      </swiper-container>
    </div>
  </div>

  <div class="container case-studies-cards" >
    <div class="row" data-aos="fade-up" data-aos-offset="200">
      <div class="col-12 col-md-6">
        <div class="case-studies-card">
          <h1 class="case-studies-card-title">Get in touch with us</h1>
          <div class="case-studies-card-text">
            <div>Maecenas sed diam eget risus verius</div>
            <div>blandit sit amet non magna</div>
          </div>
          <div class="case-studies-card-button-container">
            <button type="button" class="btn btn-tertiary">Hire us</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="case-studies-card case-studies-card-bg">
          <h1 class="case-studies-card-title">Our Projects</h1>
          <div class="case-studies-card-text">
            <div>Maecenas sed diam eget risus verius</div>
            <div>blandit sit amet non magna</div>
          </div>
          <div class="case-studies-card-button-container">
            <button type="button" class="btn btn-tertiary">See Projects</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
