/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'CircularStd-Black';
    src: url('../src/assets/fonts/circular-std-book/CircularStd-Black.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CircularStd-Medium';
    src: url('../src/assets/fonts/circular-std-book/CircularStd-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CircularStd-Book';
    src: url('../src/assets/fonts/circular-std-book/CircularStd-Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CircularStd-Bold';
    src: url('../src/assets/fonts/circular-std-book/CircularStd-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body{
    background-image: url(https://domofrontendchallenge.netlify.app/img/asset-background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top right;
    background-color: #273244 !important;
}
@media (min-width: 768px) {
    body{
        background-size: 50%;
    }
}
.opacity-1{
    opacity: 1 !important;
}
.btn{
    border-radius: 3px !important;
    font-family: 'CircularStd-Medium' !important;
    font-size: 0.9rem !important;
    padding: 8px 30px !important;
}
.btn-primary {
    background-color: #3871ff !important;
}
.btn-secondary{
    background-color: transparent !important;
    color: #9399a2 !important;
    border-color: #9399a2 !important;
}
.btn-tertiary{
    background-color: transparent;
    color: #FFFFFF !important;
    border: 1px solid #FFFFFFFF !important;
}
.section::before {
    content: "";
    width: 100%;
    height: 100px;
    display: block;
}